html,body,#container{
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0.5rem;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: deepskyblue;
}

#logo{
    color: gold;
    font-size: xxx-large;
    padding: 1rem;
    letter-spacing: 0.5rem;
}

#content{
    display: flex;
    height: 100%;
}

.project-section{
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    width: 30%;
    /* height: ; */
}

#project-list{
    display: flex;
    flex-direction: column;
}

#selected-project-view{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    width: 70%;
}

.prj_title{
    display: flex;
}

.todo-info{
    display: flex;
    gap: 8rem;
}

.todo-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.todo-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}