html,body,#container{
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: deepskyblue;
}

#logo{
    color: gold;
    font-size: xxx-large;
    padding: 1rem;
    letter-spacing: 0.5rem;
}